@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
    /* Font */
    font-size: 18px;
    --font-primary: 'Urbanist', sans-serif;
    --btn-font-size: 1.1rem;
    --hero-font-size: 4rem;
    --hero-description-font-size: 1.4rem;
    --stores-section-title-font-size: 1.5rem;
    --footer-font-size: 0.9rem;

    /* Colors */
    --color-primary: #2e75ff;
    --color-primary-light: #edf3ff;
    --color-dark: #000000;
    --color-grey: #8f8f8f;
    --color-grey-light: rgba(255, 255, 255, 0.71);
    --color-grey-dark: #111111;
    --color-white: #ffffff;
    --text-color: var(--color-dark);
    --bg-color: var(var(--color-white));
    --btn-bg-color: var(--color-primary);
    --btn-text-color: var(--color-white);
    --btn-hover-bg-color: var(--color-primary-light);

    /* Transitions */
    --transition-md: all 0.3s ease;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-color);
    color: var(--text-color);
}

button {
    font-family: var(--font-primary);
}

/* Utilities */
.container {
    padding: 2rem 7.5rem;
}

.btn {
    cursor: pointer;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 8px;
    font-size: var(--btn-font-size);
    font-weight: 400;
    padding: 0.6rem 1.7rem;
    transition: var(--transition-md);
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
    color: var(--color-primary);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-brand .brand-img {
    width: 200px;
}

/* Hero section */
.hero-section {
    text-align: center;
    margin-top: 5rem;
}

.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--hero-font-size);
    font-weight: 550;
    margin-bottom: 0rem;
}

.hero-title .hero-title-logo {
    width: 90px;
    margin-right: 0.4rem;
}

.hero-title span {
    font-weight: 300;
    margin-left: 0.8rem;
}

/* Hero section secondary */
.hero-title-secondary {
    font-size: var(--hero-font-size);
    margin-top: 0rem;
}

.hero-description-section h4 {
    font-weight: 300;
    font-size: var(--hero-description-font-size);
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.hero-img-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.hero-img {
    width: 530px;
}

/* Stores section */
.stores-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stores-section-title {
    font-size: var(--stores-section-title-font-size);
    margin-top: 0rem;
    margin-bottom: 2.5rem;
}

.stores-section-logos {
    width: 320px;
}

/* Footer */
footer {
    text-align: center;
    font-size: var(--footer-font-size);
    margin-top: 6rem;
}

.footer-copy {
    margin: 3rem 0rem;
}

/* Dark mode */
body.dark-mode {
    --text-color: var(--color-white);
    --bg-color: var(--color-grey-dark);
    --btn-bg-color: var(--color-white);
    --btn-text-color: var(--color-primary);
    --btn-hover-bg-color: var(--color-grey-light);
}

body.dark-mode .footer-copy {
    color: var(--color-grey);
}
